/* COLOR PALETTE: https://colorhunt.co/palette/293554 */
/** 
 * BRAINGENIX UI STYLESHEET
*/

/* CSS VARIABLES */
:root {
    --bg-color-primary: #3b3844;
    --bg-color-secondary: #161518;
    --brand-color-primary: #37a843;
    --brand-color-secondary: #9d4dff;
    --text-color-primary: #f2f2f7;
    --text-color-secondary: #b5b5b8;
    --font-family-primary: Quicksand;
    --border-primary: #696969;
    --error-primary: #ef6262;
    --invalid: #c2c36f;
}

/* GENERAL STYLING */
::selection {
    background-color: rgba(255, 255, 255, .1);
}

html {
    overflow: hidden;
}

body {
    background-color: black;
    font-family: var(--font-family-primary);
    color: var(--text-color-primary);
    overflow-y: hidden;
}

h1, h2, h3 {
    color: var(--brand-color-primary);
}

h4, h5, h6 {
    color: var(--brand-color-secondary);
}

/* HEADER */
header {
    background-color: var(--bg-color-secondary);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 52px;
    border-bottom: .5px solid var(--border-primary);
    padding: 3px 15px;
    box-sizing: border-box;
    user-select: none;
}

header div#header-title {
    font-size: 18px;
    display: inline-block;
    line-height: 42px;
    height: 42px;
    vertical-align: top;
}

header nav {
    display: inline-block;
    vertical-align: top;
}

header ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 35px;
}

header ul li {
    display: inline-block;
    color: var(--text-color-primary);
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    transition: 100ms;
    line-height: 42px;
    height: 42px;
    top: 0;
    left: 0; 
}

header ul li:hover {
    color: var(--brand-color-secondary);
    top: -.5px;
    left: .5px;
    transition: 100ms;
}

div.social-links {
    position: fixed;
    top: 8px;
    right: 18px;
}

div.social-links a {
    color: var(--text-color-primary);
    transition: 200ms;
    position: relative;
    font-size: 26px;
}

div.social-links a.invalid {
    color: var(--invalid);
}

div.social-links a.valid {
    color: var(--brand-color-primary);
}

div.social-links a:hover {
    color: var(--brand-color-secondary);
    transition: 200ms;
}

/* CONTENT */
main {
    display: block;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 52px;
    height: calc(100vh - 52px);
}

.pg {
    position: fixed;
    top: 100vh;
    height: calc(100vh - 90px);
    width: calc(100vw - 295px);
    background-color: var(--bg-color-secondary);
    border: .5px solid var(--border-primary);
    transition: 500ms;
    border-radius: 7px;
    left: auto;
    right: 15px;
    margin: auto;
    transform: scale(.8) rotateX(90deg);
    box-sizing: border-box; 
    padding: 0 15px;
    overflow-y: hidden;
}

div.postfade {
    background: linear-gradient(transparent, #161518);
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
}

div.prefade {
    background: linear-gradient(#161518, transparent);
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.pg section::-webkit-scrollbar {
    display: none;
}

.pg.active {
    position: fixed;
    top: 70px;
    left: auto;
    right: 15px;
    margin: auto;
    transform: scale(1) rotateX(0deg);
    transition: 500ms;
}

.pg section {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 15px 0 35px;
}

div#nodes-cpu-ram {
    margin-top: 15px;
    padding: 0 9.5px;
}

div.stat-card {
    background-color: rgba(255, 255, 255, .06);
    border-radius: 7px;
    padding: 15px;
    border: .5px solid var(--border-primary);
    margin: 5px;
}

body div.notification {
    position: fixed;
    bottom: 15px;
    margin-bottom: 0!important;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 30px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .2);
    border: .5px solid var(--border-primary);
    color: var(--text-color-primary);
    display: none;
}

body div.notification.active {
    display: block;
}

div.close-notification {
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
    transition: 150ms;
    opacity: 1;
}

div.close-notification:hover {
    opacity: .8;
    transition: 150ms;
}

.notify-error {
    color: var(--error-primary);
}

span#ru-stats {
    color: var(--text-color-primary);
}

#ram-usage canvas.stat {
    margin-top: 35px;
}

.xterm .xterm-viewport {
    overflow-y: hidden;
}

#terminal {
    height: calc(100% - 9px);
    overflow: hidden;
    margin-top: 5px;
    border: .5px solid var(--border-primary);
    border-radius: 4px;
    padding: 8px;
    background-color: black;
}

aside#sidebar {
    position: fixed;
    top: 70px;
    height: calc(100vh - 90px);
    width: 250px;
    background-color: var(--bg-color-secondary);
    border: .5px solid var(--border-primary);
    border-radius: 7px;
    left: 15px;
    box-sizing: border-box; 
    padding: 15px;
    overflow-y: hidden;
}

aside#sidebar ul {
    padding: 5px;
    border-radius: 5px;
    border: .5px solid var(--border-primary); 
    background-color: rgba(255, 255, 255, .06);
}

aside#sidebar li {
    padding: 4px;
    user-select: none;
}

aside#sidebar li span {
    transition: 100ms;
    cursor: pointer;
}

aside#sidebar li span:hover {
    color: var(--brand-color-secondary);
    top: -.5px;
    left: .5px;
    transition: 100ms;
}

aside#sidebar li > ul {
    margin-top: 9px;
}