doctype html  
html 
    head 
        title BrainGenix UI 
        script(src='axios.min.js') 
        script(src='chart.js')
        script(src='/js/iconify.min.js')
        link(href='img/puzzle-brain.svg' type='image/svg+xml' rel='icon')
        link(href='css/bulma.css' rel='stylesheet')
        link(href='css/style.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    body 
        header 
            div#header-logo 
                img(src='/img/bg-web-logo.png')
            div.social-links
                a(href="#login" title="Not logged in!" onclick="toggleLoginModal();").invalid
                    span.iconify(data-icon="bx:bxs-user-circle")
        main
            aside#sidebar 
                ul 
                    li
                        span Dashboard 
                    li
                        span Console 
                    li.submenu
                        span Menu 1 
                        ul 
                            li 
                                span Test Page
                            li.submenu
                                span Submenu 1 
                                ul 
                                    li 
                                        span Submenu 1 Item 1 
                            li.submenu
                                span Submenu 2 
                                ul 
                                    li 
                                        span Submenu 2 Item 1
            div#Dashboard.pg.active
                div.prefade
                div.postfade
                section
                    h2 
                        span(class='iconify' data-icon='clarity:line-chart-solid')
                        span &nbsp;Dashboard 
                    div.columns#nodes-cpu-ram
                        div.stat-card#nodes.column 
                            h3 Nodes 
                                span#total-nodes
                            ul#node-list 
                                li Loading...
                        div.stat-card#cpu.column
                            h3 CPU Usage 
                                span#cu-stats Loading...
                            canvas.stat
                        div.stat-card#ram-usage.column
                            h3 RAM Usage 
                                span#ru-stats Loading...
                            canvas.stat  
                    h2 Recent Logs 
                    div#log-term
            div#Console.pg
                div.prefade
                div.postfade
                section
                    div#terminal
                        div#terminal-logs
                        input(type='text' id='terminal-input' autofocus='' spellcheck='false')
                        div.indicator >
            div#Docs.pg
                div.prefade
                div.postfade
                section 
                    h2 Docs 
                    p Add docs here...
            div#Test-Page.pg 
                div.prefade
                div.postfade
                section
                    h2 Test Page
                    p Test page content
    footer 
        div#login-modal.modal.is-active
            div.modal-background 
            div.modal-content 
                div 
                    img#login-logo(src='/img/bg-web-logo.png')
                div
                    input#username.input(type='text' placeholder='Username')
                div
                    input#password.input(type='password' placeholder='Password')
                div
                    button#login-button.button.is-primary(onclick='login();') Login
        div.notification 
            div.close-notification
                span.iconify(data-icon='ion-close-circle-outline') 
            h2 Error 
            p API Server is not reachable.
        script. 
            let apiRoute = '#{apiRoute}';
        script(src='/js/scripts.js')