doctype html  
html 
    head 
        title BrainGenix UI 
        script(src='axios.min.js') 
        script(src='chart.js')
        script(src='/js/iconify.min.js')
        link(href='img/puzzle-brain.svg' type='image/svg+xml' rel='icon')
        link(href='css/bulma.css' rel='stylesheet')
        link(href='xterm.css' rel='stylesheet')
        link(href='css/style.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap' rel='stylesheet')
        script(src='xterm.js')
        script(src='xterm-addon-fit.js')
    body 
        header 
            div#header-title BrainGenix UI 
            div.social-links
                a(href="#login" title="Not logged in!" onclick="toggleLoginModal();").invalid
                    span.iconify(data-icon="bx:bxs-user-circle")
        main
            aside#sidebar 
                ul 
                    li(onclick='navigate("Dashboard");') 
                        span Dashboard 
                    li(onclick='navigate("Console");') 
                        span Console 
                    li 
                        span Menu 1 
                        ul 
                            li 
                                span Menu 1 Item 1
                            li 
                                span Submenu 1 
                                ul 
                                    li 
                                        span Submenu 1 Item 1 
                            li 
                                span Submenu 2 
                                ul 
                                    li 
                                        span Submenu 2 Item 1
            div#Dashboard.pg.active
                div.prefade
                div.postfade
                section
                    h2 Dashboard 
                    div.columns#nodes-cpu-ram
                        div.stat-card#nodes.column 
                            h3 Nodes 
                            h4 
                                span Total Nodes 
                                span#total-nodes
                            ul#node-list 
                                li example-node-1 
                                li example-node-2 
                                li lady-liberty-83LL
                        div.stat-card#cpu.column
                            h3 CPU Usage
                            canvas.stat
                        div.stat-card#ram-usage.column
                            h3 RAM Usage 
                                span#ru-stats Loading...
                            canvas.stat  
            div#Console.pg
                div.prefade
                div.postfade
                section
                    h2 Console 
                    div#terminal
            div#Docs.pg
                div.prefade
                div.postfade
                section 
                    h2 Docs 
                    p Add docs here...
    footer 
        div#login-modal.modal 
            div.modal-background 
            div.modal-content 
                div.control 
                    input#username.input(type='text')
                div.control 
                    input#password.input(type='text')
                div.control 
                    button#login-button.button.is-primary(onclick='login();') Login
            button.modal-close.is-large(onclick='toggleLoginModal();')
        div.notification 
            div.close-notification
                span.iconify(data-icon='ion-close-circle-outline') 
            h2 Error 
            p API Server is not reachable.
        script(src='/js/scripts.js')