doctype html  
html 
    head 
        title BrainGenix UI 
        script(src='axios.min.js') 
        link(href='img/puzzle-brain.svg' type='image/svg+xml' rel='icon')
        link(href='css/style.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    body 
        header 
            h1 BrainGenix UI 
            nav 
                li Dashboard 
                li About 
                li Stats 
                li Credits 
        div#Dashboard 
            h2 Dashboard 
            div.stat-card#ram-usage 
                h3 RAM Usage 
                div.stat Loading...
        div#About 
        div#Stats 
        div#Credits 
    footer 
        script(src='/js/fetch.js')